<h1>Posts list</h1>

<% if @posts %>
    <% @posts.each do |post| %>
        <div> <strong>Title:</strong> <%= post.title %> </div>
        <div> <strong>Author:</strong> <%= post.user.email %></div>
        <div>
            <% if logged_in? %>
            <%= link_to "Show Post", post_path(post.id)%>
                <% if post.user_id == current_user.id %>
                    <%= link_to "Edit Post", edit_post_path(post.id)%>
                    <%= link_to 'Destroy', post,
                        data: {"turbo-method": :delete,
                            controller: "posts",
                            "confirmation-message-value": 'Are you sure?',
                            action: "posts#destroy"
                        } 
                    %>
                <% end %>
            <% end %>
        </div>
        <br>
    <% end %>
<% else %>
    <p> There are no any post yet</p>
<% end %>

<%= link_to "New Post", new_post_path  %>